.custom-modal{
    width: 500px;
    max-width: 90vw;
    height: 95vh;
    overflow: scroll;
}
.custom-modal::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in input type=number for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}