.nav{
   padding: 1%;
   display: flex;
   background-color: rgb(46, 59, 83);
   align-items: center;
   width: 100%;
}
.nav img{
   margin: 0% 0.5% 0% 1%;
}
.nav h1{
   font-weight: 100;
   font-size: 25px;
}