.viewRecord{
    background-color: rgb(32, 72, 105);
    padding: 2%;
    width: 1300px;
    border-radius: 10px;
    max-height: 85vh;
    

    position: fixed; /* Keeps it in place even when scrolling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it exactly */
    
    /* Display and Layering */
    display: flex;
    flex-direction: column;
    z-index: 1; /* Ensures it's above other elements */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: scroll;
}
.viewRecord .det{
    display: flex;
    justify-content:space-between;
    margin: 0.1%;
    /* border-bottom: solid 0.5px rgb(124, 124, 124); */
    background-color: rgb(28, 39, 56);
    /* border-radius: 55px; */
    padding: 2%;
}
.viewRecord .det:hover{
    filter: brightness(1.2);
}

@media screen and (max-width: 768px) {
    .viewRecord .det {
        flex-direction: column;
        align-items: flex-start; /* Align items to start for a stacked look */
    }
    .viewRecord{
        width: 90%;
    }
    .viewRecord div h2{
        margin-right: 0.3%;
        font-size: 15px;
    }
    .viewRecord div span{
        font-size: 15px;
    }
    .viewRecord div span a{
        font-size: 15px;
    }
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}
.head img{
    cursor: pointer;
}
.head img:hover{
    transform: scale(1.1);
}
.viewRecord div h2{
    margin-right: 4%;
    font-size: 20px;
    font-weight: 600;
}
.viewRecord div span{
    font-size: 20px;
    font-weight: 200;
}
.viewRecord div span a{
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: inherit;
}
.btn-div{
    display:'flex';
    justify-content: left;
}
.btn-div button{
    margin: 1%;
}
.viewRecord input,select,textArea{
    background-color: rgb(54, 73, 102);
    border: none;
    border-radius: 10px;
}